body {
    background-color: #faeee7;
  }
hr {
    border-style: dotted none none;
    border-color: #d77fa1;
    border-width: 5px;
    width: 100%;
  }
img {
  height:190px;
}
h1{
  color: #730068;
}
h3{
  color: #bc4873;
}
body{
  color: #730068;
}
