body {
    background-color: #faeee7;
  }
hr {
    border-style: dotted none none;
    border-color: #93deff;
    border-width: 5px;
    width:80%;
  }
img {
  height:80px;
}
h1{
  color: #93deff;
}
h3{
  color: #ff8ba7;
}
body{
  color: #93deff;
}
